body {
  background: #fff;
}

.audio-player-cont {
  width: 570px;
  height: 340px;
  margin: 150px auto;
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  color: #fff;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 12px;
  border-radius: 10px;
  border: #666 solid 2px;
  -webkit-box-shadow: 0 1px 12px 4px rgba(0, 0, 0, 0.59);
  box-shadow: 0 1px 12px 4px rgba(0, 0, 0, 0.59);
}

.logo {
  float: left;
}

.player {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin: 7px;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 3px;
  margin: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.song-title {
  text-align: center;
  width: 200px;
  padding: 5px 10px 5px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.progress-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.song-slider {
  width: 250px;
}

.current-time {
  font-size: 10px;
}

.duration {
  font-size: 10px;
  padding-right: 45px;
}

.controllers {
  clear: both;
  display: table;
}

.controllers * {
  vertical-align: middle;
  margin: 2px;
}

.volume-slider {
  width: 90px;
  margin-left: 5px;
}

.playlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 10px 10px 10px 10px;
}

.playlist li {
  cursor: pointer;
  margin: 5px;
}

.playlist li.active {
  font-weight: bold;
  padding: 3px;
  background: #666;
}
